@import 'src/index.scss';
@import 'src/index.scss';
.signUpForm {
  position: fixed;
  padding: 53px 0;
  top: 0%;
  left: 50%;
  width: 35%;
  height: 500px !important;
  border-radius: 20px;
  background-color: white;
  transform: translate(-50%, -120%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 10000;
  transition: 0.6s;
}
.signUpForm.show {
  transform: translate(-50%, 20%) !important;
}
.closeForm {
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 40px;
  z-index: 100;
}
.closeForm:hover {
  color: red;
  transform: scale(1.2);
}

.ribbon {
  width: 205px;
  height: 155px;
  position: relative;
  top: -68px;
  left: -15px;
  overflow: hidden;
}

.ribbonSwiper {
  background: rgb(255, 255, 255);
  width: 40px;
  height: 100%;
  z-index: 10;
  position: absolute;
  animation: flow 2.5s linear infinite;
  transform: skew(20deg);
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 1%,
    rgba(255, 255, 255, 1) 100%
  );
}

@keyframes flow {
  0% {
    left: -20px;
    opacity: 0.2;
  }
  50% {
    left: 100px;
    opacity: 0.8;
  }
  100% {
    left: 180px;
    opacity: 0.2;
  }
}
.ribbon span {
  position: absolute;
  top: 35px;
  left: -33px;
  width: 200px;
  height: 30px;
  color: white;
  font-size: 13px;
  background: linear-gradient(
    90deg,
    rgba(46, 53, 252, 1) 11%,
    rgb(36, 41, 204) 69%
  );
  transform: rotate(-40deg);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  top: -4.7px;
  left: 62%;
  width: 24px;
  height: 20px;
  background-color: #0e0f42;
  z-index: 1;
}
.ribbon::after {
  top: unset;
  width: 20px;
  bottom: 29px;
  left: -5px;
}

.signUpForm h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: rgba(46, 53, 252, 1);
}
.FormText {
  transform: translateY(-155px);
}

.NameInpContainer,
.LetterInpContainer,
.PasswordInpContainer {
  position: relative;
  width: 80%;
  height: 50px;
  margin: 20px auto;
}
.nameInput,
.LetterInput,
.PasswordInput {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 1px solid rgba(46, 53, 252, 1);
  outline: none;
  padding: 0 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px #9633ff34;
}
.NameInpContainer img,
.LetterInpContainer img,
.PasswordInpContainer img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}
.checkboxLabel {
  font-size: 14px;
  color: rgba(33, 33, 33, 0.75);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FormLinks {
  color: rgba(46, 53, 252, 1) !important;
  display: inline !important;
  margin: 0 !important;
}
.AlreadyHave {
  display: block;
  color: rgba(33, 33, 33, 0.75);
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
}
.btn-Account {
  width: 250px;
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(46, 53, 252, 1) 11%,
    rgba(21, 24, 117, 1) 69%
  );
  color: white;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px #9633ff34;
  transition: 0.4s;
  display: block;
  margin: 15px auto;
  position: relative;
  outline: none;
}
.btn-Account .ribbonSwiper {
  top: 0;
}
.checkbox {
  margin-right: 10px;
}
.btn-Account:hover {
  transform: translateY(-5px) scale(1.1);
  background: white !important;
  border: 2px solid rgba(46, 53, 252, 1);
  color: rgba(46, 53, 252, 1) !important;
  font-weight: 700;
}
.Eye {
  position: absolute;
  top: 10px;
  right: 15px;

  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}

.Eye:hover {
  transform: scale(1.1);
}
